*{
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0;
    user-select: none;
    font-family: "Space Mono", monospace;
    overflow: hidden;
}
.album{
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60,60,60,0.75);
    width: max-content;
    height: 100vh;
}
body{
    background-image: url(img/bg3.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1, h2{
    margin: 30px;
    color: white;
}

div{
    width: 500px;
    height: 500px;
    max-width: 96vw;
    max-height: 96vw;
  /*  background-color: white; */
    display: grid;
    border-radius: 1%;
    margin: 10px;
    grid-template-rows: 167px 167px 167px;
    grid-template-columns: 167px 167px 167px;
}
.album span{
    visibility: visible;
    position: absolute;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    transition: 20ms;
}
.album:hover span{
    visibility: visible;
    transition: 20ms;
}
.album{
    width: 88%;
    height: 88%;
    margin: auto;
    transition: 50ms;
    position: relative;
    display: inline-block;
}
.album:hover{
    width: 92%;
    height: 92%;
    transition: 100ms;
    cursor: default;
}
img{
    width: 100%;
    border-radius: 1%;
    box-shadow: 0px 0px 10px 0px #6b6b6b;
}
.icon{
    box-shadow: none;
    width: 10%;
    height: auto;
    border-radius: 0;
}
footer{
    display: flex;
    flex-direction: row;
    height: 10%;
    align-content: space-between;
    width: 501px;
}

@media only screen and (max-width: 522px) {
    div{
        grid-template-rows: 33% 34% 33%;
        grid-template-columns: 33% 34% 33%;  
    }
  }

@media (min-width:961px)  {
    .album span{
        visibility: hidden;
    }
}
@media (max-width:960px)  {
    .album span{
        visibility: visible;
    }
}
ol{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    list-style-position: inside; /* keeps numbers inside content box */
    grid-column: 1 / -1; /* spans all columns */
    grid-row: 1 / -1;
    overflow-y: auto;
}
li{
    width: 94%;
    color: white;
    margin: 3%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
    /*border-radius: 5px;
    background-image: url(album/download.gif);
    background-repeat: repeat;
    background-size: 20%;*/
}
li:hover{
    transition: border-bottom 0.25s;
    border-bottom: 2px white solid;
}
.length{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-right: 0;
}
a{
    color: white;
    text-decoration: none;
    cursor: default;
}
a:hover{
    cursor: default;
}
#homepage{
    color: white;
}
#homepage:hover{
    text-decoration: underline;
    color: lightgray;
}